*.swp
*~

!.config/
.config/*

!.config/Dharkael/
!.config/bspwm/
!.config/i3/
!.config/kitty/
!.config/neofetch/
!.config/nvim/
.config/nvim/plugged/
!.config/picom/
!.config/polybar/
!.config/rofi/
!.config/spicetify/
.config/spicetify/*
!.config/spicetify/config.ini
!.config/sxhkd/
!.config/wal/*
!.config/zathura/

